################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/APSS/_BOJ_10950.cpp
/APSS/_BOJ_10951.cpp
